<footer>
	<div class="container">
		<div class="row-fluid">
			<div class="span4">
				<div class="img-container"><img src="<%= asset_path 'footer-map-color.png' %>" class="map color" alt="current location">
					<img src="<%= asset_path 'footer-map-location.png' %>" class="map location" alt="current location">
				</div>
			</div>
			<div class="span4">
				<p>This page is made with love and coffe by <a href="http://sebastianwikander.se">Seba</a> as part of his Korean language studies.<br/><br/>© 2012 Seba</p>
			</div>
			<div class="span4">
				<p>Twitter: <a href="http://twitter.com/Prosit">@Prosit</a></p>
				<p>Blog: <a href="http://sebastianwikander.se">sebastianwikander.se</a></p>
			</div>
		</div>
	</div>
</footer>