<div class="row-fluid">
	<div class="span12">
		<h1><%=t :title %></h1>
		<p>Korean reference manual 0.1</p>
		<div class="btn-group" id="set_locale">
			<button class="btn btn-small" id="en">English</button>
			<button class="btn btn-small" id="se">Svenska</button>
			<button class="btn btn-small" id="jp">日本語</button>
		</div>
	</div>
</div>