<div class="row-fluid">
	<div class="span12">
		<h2>形容詞</h2>
		<p>Adjectives and other noise</p>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>する</th>
					<th>しない</th>
					<th>した</th>
					<th>したい</th>
					<th>しよう</th>
					<th>してる</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>普通</th>
					<td>하다</td>
					<td>했다 (했어)</td>
					<td>하지않다 (안하다)</td>
					<td>하자</td>
					<td>하고싶어</td>
					<td>하고있어</td>
				</tr>
				<tr>
					<th>敬語</th>
					<td>합니다</td>
					<td>했습니다</td>
					<td></td>
					<td></td>
					<td></td>
					<td>하고있습니다</td>
				</tr>
			</tbody>
		</table>
		<p>This is the foundation, enjoy</p>
	</div>
</div>