<div class="row-fluid">
	<div class="span12">
		<h2><%=t :hangul_title %></h2>
		<p></p>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th>자음</th>
					<th colspan="13">Consonants</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ㄱ</td>
					<td>ㄴ</td>
					<td>ㄷ</td>
					<td>ㄹ</td>
					<td>ㅂ</td>
					<td>ㅅ</td>
					<td>ㅇ</td>
					<td>ㅈ</td>
					<td>ㅎ</td>
					<td>ㅋ</td>
					<td>ㅌ</td>
					<td>ㅍ</td>
					<td>ㅊ</td>
					<td>ㅁ</td>
				</tr>
				<tr>
					<td>k/g</td>
					<td>n</td>
					<td>d/t</td>
					<td>r/l</td>
					<td>b/p</td>
					<td>s</td>
					<td>ng</td>
					<td>j/ch</td>
					<td>h</td>
					<td>k</td>
					<td>t</td>
					<td>p</td>
					<td>ch</td>
					<td>m</td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th>모음</th>
					<th colspan="13">Vowels</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>ㅣ</td>
					<td>ㅏ</td>
					<td>ㅑ</td> 
					<td>ㅓ</td> 
					<td>ㅕ</td> 
					<td>ㅐ</td>
					<td>ㅔ</td>
					<td colspan="4"></td>
					<td>ㅟ</td>
					<td>ㅢ</td>
					<td>ㅚ</td>
				</tr> 
				<tr>
					<td>i</td> 
					<td>a</td>
					<td>ya</td>
					<td>eo</td>
					<td>yeo</td>
					<td>ae</td>
					<td>e</td>
					<td colspan="4"></td> 
					<td>wi</td>
					<td>ui</td>
					<td>wa</td>	
				</tr> 
				<tr>
					<td>ㅡ</td>
					<td>ㅗ</td> 
					<td>ㅛ</td> 
					<td>ㅜ</td> 
					<td>ㅠ</td> 
					<td colspan="6"></td>
					<td>ㅝ</td>
					<td>ㅙ</td>
					<td>ㅞ</td>
				</tr>
				<tr>
					<td>eu</td>
					<td>o</td>
					<td>yo</td>
					<td>u</td>
					<td>yu</td>
					<td colspan="6"></td> 
					<td>wo</td>
					<td>wae</td>
					<td>we</td>
				</tr> 
			</tbody>
		</table>
		<p>This table consist of all them cool hangul.</p>
	</div>
</div>
