<div class="row-fluid">
	<div class="span12">
		<h2><%=t :partcle_title%></h2>
		<p><%=t :partcle_description%></p>
		<table class="table table-hover table-condensed">
			<thead>
				<tr>
					<th></th>
					<th>Things</th>
					<th></th>
					<th>Place</th>
					<th></th>
					<th></th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>This</th>
					<td>이</td>
					<td>이거</td>
					<td>여기</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>That</th>
					<td>그</td>
					<td>그거</td>
					<td>거기</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>That (over there)</th>
					<td>저</td>
					<td>저거</td>
					<td>저기</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<th>What</th>
					<td>어느</td>
					<td>어느 거</td>
					<td>어디</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<p>This is the foundation, enjoy</p>
	</div>
</div>